* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}

html {
    min-height: 100vh;
    position: relative;
}

main {
    margin-bottom: 250px;
    margin-top: 10px;
}

/* navbar */
#logo {
    position: absolute;
    top: 10px;
    left: 9.5%;
}

#logo img {
    width: 50px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    padding: 10px;
    text-transform: uppercase;
    list-style: none;
}

#navbar li {
    margin: 0 10px;
    padding: 5px;
}

#navbar .nav-link {
    color: white;
    text-decoration: none;
    transition: .5s;
    font-size: 14px;
}

#navbar .nav-link:hover {
    color: #5f5f5f;
}

/* home */
.borda {
    border: 1px solid #2f2f2f;
    margin-top: 10px;
}

#title-container {
    min-width: 500px;
    text-align: center;
    margin-top: 25px;
    color: #222222;
}

#title-container h1 {
    font-size: 60px;
}

#title-container p {
    margin-top: 10px;
}

#posts-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.post-box:first-child {
    max-width: 100%;
    margin: 0 20px 35px 20px;
    flex: 1 1 100%;
}

.post-box {
    flex: 1 1 0;
    margin: 0 20px 35px 15px;
    width: 70%;
    height: 70%;
}

.post-box .post-title {
    font-size: 24px;
    margin: 10px 0;
}

.post-box .post-title a {
    color: #000000;
    transition: .5s;
    text-decoration: none;
    list-style: none;
}

.post-box .post-title a:hover {
    color: #8f8f8f;
}

.post-box .post-description {
    color: #292929;
    text-align: left;
}

.post-box img {
    max-width: 100%;
}

.tags-container {
    margin-top: 10px;
}

.tags-container a {
    font-size: 14px;
    color: #333;
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
    list-style: none;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #000;
    color: #ffffff;
    padding: 50px 0;
}

/*post */
#post-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "main sidebar";
    padding-top: 70px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 250px;
}

.content-container {
    grid-area: main;
    font-size: 17px;
}

#post-description {
    margin-bottom: 40px;
    text-align: justify;
    color: rgb(34, 34, 34)
}

.post-content {
    line-height: 2;
    margin: 0 0;
}

/* post sidebar */

.nav-container {
    grid-area: sidebar;
    font-size: 16px;
    padding: 5px;
}

#main-title {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.img-container {
    margin-bottom: 30px;
}

.img-container img {
    width: 100%;
}
 /* 
#tags-title,
#categories-title {
    font-size: 16px;
    background-color: #000;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;

}

#tag-list,
#categories-list {
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding-left: 0;
}

#tag-list li,
#categories-list li {
    margin-bottom: 20px;
}

#tag-list a,
#categories-list a {
    color: #303030;
    transition: .5s;
    text-decoration: none;
}

#tag-list a:hover,
#categories-list a:hover {
    color: #000;
}
*/
/*reponsivo*/

@media(max-width: 480px) {

    /*home*/
    header {
        width: 100%;
    }

    #logo {
        display: block;
        width: 50px;
        position: relative;
        margin: 0 auto;
        left: 0;
    }

    #navbar {
        display: none;
    }

    #title-container {
        min-width: 100%;
        margin-top: 16px;
    }

    #title-container h1 {
        font-size: 30px;
    }

    .posts-box {
        flex: 1 0 0;
        padding: 0;
        margin: 0;
    }

    .post-box:first-child {
        max-width: 100%;
        margin: 0 20px 60px 20px;
        flex: 1 1 100%;
    }
}

/*post*/
#posts-container {
    grid-template-columns: 100%;
    padding: 0;
    grid-template-areas:
        "main"
}

.img-container img {
    width: 100%;
}

.nav-container {
    margin: 0 auto;
}

.content-container {
    font-size: 18px;
    padding: 0 15px;
}